@using SellPhone.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SellPhone</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="container">
            @Html.ActionLink("Sell phone", "Index", "Home")
            <div class="dropdown">
                <button class="dropbtn">
                    Categories
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <a href="@Url.Action("Index","Category",new { id = c.ID})">@c.Name</a>
                    }
                </div>


            </div>
        </div>
            
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; FIT-TDC - Group 6</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>